@font-face {
    font-family: teko-light;
    src: url(fonts/Teko-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    background-image: url(images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-layer-base {
    transform: translateZ(0);
}

.parallax-layer-back {
    transform: translateZ(-1px) scale(2);
}

.bckg-element {
    width: 100%;
    position: fixed;
    top: 1000px;
    left: 0px;
}

.bckg-element2 {
    display: none;
}

nav {
    margin: 80px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

#main-logo {
    width: 224px;
    margin-top: -5px;
}

.top-nav-links {
    display: flex;
    align-items: center;
}

.navlink {
    font-family: teko-light;
    font-size: 42px;
    margin-right: 50px;
    text-decoration: none;
    color: #F6EEE1;
}

.navlink:hover {
    color: #b1a99d;
}

.dropdown {
    margin-top: -10px;
}

#mini-navb {
    display: none;
}

.top-nav-links-mini {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}

@media screen and (max-width: 930px) {
    #mini-navb {
        display: inherit;
        margin-bottom: 55px;
        padding: 25px 100px;
        position: relative;
        z-index: 1;
    }

    nav {
        display: none;
    }

    #main-logo {
        width: 200px;
        margin-top: 0px;
    }    

    .navlink {
        font-size: 35px;
        margin-right: 0px;
    }
}

/*************** 
***** HERO ***** 
****************/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    position: relative;
    z-index: 0;
}

#headings {
    width: 645px;
}

#self-picture {
    width: 433px;
    margin-right: 50px;
    filter: drop-shadow(10px 10px 30px #111111);
}

@media screen and (max-width: 1360px) {
    #headings {
        width: 545px;
        height: auto;
    }

    #self-picture {
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 1260px) {
    #self-picture {
        width: 333px;
        height: auto;
    }
}

@media screen and (max-width: 1160px) {
    #headings {
        width: 445px;
    }

    .bckg-element {
        width: 140%;
        position: fixed;
        top: 600px;
    }

    #self-picture {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1060px) {
    #self-picture {
        width: 270px;
    }

    .bckg-element {
        width: 160%;
        position: fixed;
        top: 500px;
    }
}

@media screen and (max-width: 960px) {
    #headings {
        width: 400px;
    }
}

@media screen and (max-width: 860px) {
    .hero {
        margin: 0px 50px;
    }

    #mini-navb {
        padding: 15px 50px;
    }

    #headings {
        width: 390px;
    }

    #self-picture {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    #mini-navb {
        padding: 20px 25px;
    }

    .hero {
        flex-direction: column;
        margin: 0px 25px;
    }

    #headings {
        width: 370px;
    }

    #self-picture {
        width: 310px;
        margin-top: 45px;
    }

    #main-logo {
        width: 180px;
    } 

    .bckg-element {
        width: 300%;
        top: 1400px;
    }
}

/****************
**** CONTENT ****
*****************/
.about {
    display: flex;
    align-items: center;
    margin: 100px 100px 0px 100px;
}

.ab-title-element {
    width: 30px;
    margin: 0px 25px;
    filter: drop-shadow(0px 0px 5px #0a250bba);
}

.ab-title {
    font-family: teko-light;
    font-size: 80px;
    margin-right: 50px;
    text-decoration: none;
    color: #FDAD16;
    text-shadow: 0px 0px 5px #0a250bba;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 750ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.anim:nth-child(2) {
    transition-delay: 200ms;
}

.anim:nth-child(3) {
    transition-delay: 400ms;
}

.ab-text {
    display: grid;
    grid-template-columns: 55px auto 55px auto 55px;
    grid-template-rows: 55px auto 55px;
    margin: 10px 100px;
    border: 3px solid rgba(235, 235, 235, 0.2);
    background: linear-gradient(305deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 100%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 20px;
    position: relative;
    z-index: 2;
    color: #F6EEE1;
    font-family: roboto;
}

#text1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#text2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.exp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 100px;
    padding: 45px;
    border: 3px solid rgba(235, 235, 235, 0.2);
    background: linear-gradient(305deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 100%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.exp-header {
    display: flex;
    align-items: end;
    gap: 20px;
}

.exp-year {
    font-family: teko-light;
    font-size: 35px;
    text-decoration: none;
    color: #F6EEE1;
}

.exp-pointer {
    width: 33px;
    align-self: center;
}

.exp-title {
    font-family: teko-light;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: #F6EEE1
}

.exp-ab-text {
    margin-left: 235px;
    margin-right: 235px;
}

.exp-w-place {
    color: #F6EEE1;
    font-family: roboto;
    font-weight: 500;
}

.exp-ab-text p {
    color: #F6EEE1;
    font-family: roboto;
}

@media screen and (max-width: 1160px) {
    .exp-ab-text {
        margin-left: 235px;
        margin-right: 55px;
    }    
}

@media screen and (max-width: 1060px) {
    .ab-title {
        font-size: 65px;
    }  

    .exp-text {
        padding-right: 20px;
    }
}


/*****************
***** FOOTER *****
******************/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #0A250B;
    margin: 100px 0px 0px 0px;
    padding: 50px 100px;
    position: absolute;
    bottom: auto;
    width: 100%;
    height: auto;
}

#foot-text1 {
    font-family: roboto;
    font-size: 14px;
    color: #F6EEE1;
    margin: 15px 0px 0px 0px;
}

.foot-text {
    font-family: roboto;
    font-size: 14px;
    color: #F6EEE1;
    margin: 0px;
}

#foot-ul {
    margin: 0px 0px 0px 150px;
}

.foot-link {
    text-decoration: none;
    font-family: roboto;
    font-size: 14px;
    font-weight: bold;
    color: #F6EEE1;
}

.foot-link:hover {
    color: #b1a99d;
}

.foot-three {
    display: flex;
    margin: 0px;
}

.sm-link {
    width: 50px;
    margin-left: 15px;
    position: relative;
    display: inline-block;
}

.sm-link:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media screen and (max-width: 860px) {
    .about {
        margin: 60px 50px 0px 50px;
    }

    .ab-text {
        margin: 10px 50px;
    }

    .exp-text {
        margin: 10px 50px;
    }

    .footer {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 500px) {
    .bckg-element2 {
        display: block;
        width: 250%;
        position: fixed;
        top: 3500px;
        left: 0px;
    }

    .about {
        margin: 60px 25px 0px 25px;
    }
    
    .ab-title-element {
        width: 20px;
        margin-top: -10px;
        margin-right: 15px;
    }

    .ab-title {
        font-size: 50px;
    } 

    .ab-text {
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 10px;
        margin: 10px 25px;
    }

    #text1, #text2 {
        font-size: 22px;
    }

    .exp-header {
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }

    .exp-text {
        margin: 10px 25px;
        padding: 25px;
    }

    .exp-pointer {
        display: none;
    }

    .exp-ab-text {
        margin-left: 0px;
        margin-right: 0px;
    }

    .exp-year {
        font-size: 35px;
    }

    .exp-title {
        font-size: 45px;
    }

    .exp-w-place {
        font-size: 22px;
        font-weight: bold;
    }

    .exp-ab-text p {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .footer {
        flex-direction: column-reverse;
        align-items: start;
        padding: 25px;
    }

    .sm-link {
        margin: 0px 15px 25px 0px;
    }
}

@media screen and (max-width: 400px) {
    #headings {
        width: 330px;
    }

    .ab-title-element {
        margin: 0px;
        margin-right: 15px;
    }

    .bckg-element {
        width: 300%;
        top: 900px;
    }

    .bckg-element2 {
        width: 300%;
        top: 3000px;
    }
}


/********************
***** PORTFOLIO *****
*********************/
.s-hero {
    display: flex;
    flex-direction: column;
    margin: 100px 100px 0px 100px;
}

.s-headings {
    width: 500px;
}

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-logo {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px;
    padding: 25px;
    padding-bottom: 13px;
    border: 3px solid rgba(235, 235, 235, 0.2);
    background: linear-gradient(305deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 100%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 20px;
    transition: transform .2s;
}

#html-n-css:hover {
    transform: scale(1.1);
}

.skill-logo:hover {
    transform: scale(1.1);
}

figcaption {
    justify-self: start;
    margin: 0px;
    text-align: center;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    color: #F6EEE1;
}

.project {
    margin: 50px 0px;
}

.project-name {
    font-family: teko-light;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: #F6EEE1
}

.project-description {
    width: 550px;
    font-family: roboto;
    font-size: 20px;
    text-decoration: none;
    color: #F6EEE1
}